.gallery-root {
  text-align:center;
}

.gallery-root:before {
  //margin-left: 50%;
  position: absolute;
  content: "";
  // display: block;
  top: 0;
  left: 0;
}

#gallery:after {
  // display: block;
  // position: fixed;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // margin-left : 0%,
  // margin-right  0%
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}


